{% extends 'base.html' %}
{% block title %}
<title>書籍情報の{{kind}}</title>
{% endblock %}
{% block content %}
<form action="add" method="POST">
    {% if registId %}
        <input type="hidden" value="{{registId}}" name="id"/>
    {% endif %}
    <div class="container">
        <h3>書籍情報の{{kind}}</h3>
        <p>書籍情報を{{kind}}します。</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>書名</label>
                    <input class="form-control" type="text" placeholder="例：燃えよ剣" name="name" value="{% if form['name'] %}{{form['name']}}{% endif %}"/>
                </div>
                <div class="form-group">
                    <label>巻数</label>
                    <input class="form-control" type="text" placeholder="例：上巻" name="volume" value="{% if form['volume'] %}{{form['volume']}}{% endif %}"/>
                </div>
                <div class="form-group">
                    <label>著者</label>
                    <input class="form-control" type="text" placeholder="例：司馬遼太郎" name="author" value="{% if form['author'] %}{{form['author']}}{% endif %}"/>
                </div>
                <div class="form-group">
                    <label>出版社</label>
                    <input class="form-control" type="text" placeholder="例：新潮社" name="publisher" value="{% if form['publisher'] %}{{form['publisher']}}{% endif %}"/>
                </div>
                <div class="form-group">
                    <label>メモ</label>
                    <textarea cols="5" class="form-control" placeholder="" name="memo">{{form['memo']}}</textarea>
                </div>
                <div class="form-group">
                    <a href="/list"><input id="submit" type="button" class="btn btn-dark" value="戻る"/></a>
                    <input id="submit" type="submit" class="btn btn-primary" value="登録"/>
                </div>
                {% if error %}
                    {% for e in error %}
                    <p class="error_message">{{e}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
